/* Skills page main styles */
@import '../../../styles/vars';
.skills {
  margin-left: 20%;
  width:  80%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  padding-right: 10%;
  &__techContainer {
    position: relative;
    width: 100%;
    padding: 2rem;
    padding-bottom: 10%;
    &__title {
      font-size: 4rem;
      text-align: center;
    }
    &__technos {
      margin-top: 4rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      .techSvg {
        transition: 1s;
        margin: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        svg {
          fill: $darkText;
          height: 45px;
          width:  45px;
          transition: $slowTransition;
          path {
            transition: $slowTransition;
            fill: $darkText;
          }
          circle {
            transition: $slowTransition;
            fill: $darkGreen;
          }
        }
        p {
          transition: $slowTransition;
        }
        &:hover {
          p {
            transition: 0s;
            color: $darkGreen;
          }
          path {
            transition: 0s;
            fill: $darkGreen;
          }
          circle {
            transition: 0s;
            fill: $darkText;
          }
        }
      }
    }
  }
  &__trainingContainer {
    width: 50%;
    position: relative;
    &__panel {
      border: solid 3px $darkText;
      padding: 2rem 2rem;
      width: calc(400px + 4rem);
      height: fit-content;
      position: absolute;
      top: calc(50% - 24px);
      left: calc(50% - (200px + 2rem));;
    }
    &__text {
      font-size: 1.5rem;
      a {
        transition: $slowTransition;
        color: $darkGreen;
        &:hover {
          transition: $slowTransition;
          color: $darkHover;
        }
      }
    }
  }
  &__softSkillsContainer {
    position: relative;
    width: 50%;
    padding: 2rem;
    padding-right: 8rem;
    text-align: right;
    &__title {
      font-size: 4rem;
      margin-bottom: 3rem;
    }
    &__liste {
      &__item {
        font-size: 1.5rem;
        margin-bottom: .5rem;
      }
    }
  }
}

/* Responsive part */
@media screen and (max-width: 1860px) {
  .skills__softSkillsContainer__title {
    font-size: 3rem;
  }
}

@media screen and (max-width: 1500px) {
  .skills {
    &__trainingContainer {
      width: 100%;
      &__panel {
        position: static;
        margin: auto;
      }
    }
    &__softSkillsContainer {
      width: 100%;
      text-align: center;
      padding: 2rem;
    }
  }
}

@media screen and (max-width: 1440px) {
  .skills {
    .pageBackground {
      font-size: 12rem;
      letter-spacing: -1rem;
    }
    &__techContainer {
      padding-bottom: 2rem;
      &__title {
        font-size: 3rem;
      }
      &__technos {
        .techSvg {
          svg {
            height: 40px;
            width:  40px;
          }
        }
      }
    }
    &__softSkillsContainer {
      &__title {
        font-size: 3rem;
        margin-bottom: 1rem;
      }
      &__liste {
        &__item {
          font-size: 1.2rem;
          margin-bottom: .5rem;
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .skills {
    .pageBackground {
      display: none;
    }
  }
}

@media screen and (max-width: 614px) {
  .skills {
    &__trainingContainer__panel {
      &__text {
        font-size: 1rem;
      }
    } 
  }
}

@media screen and (max-width: 614px) {
  .skills {
    margin: 1rem;
    width: 100%;
    padding: 0;
    &__techContainer {
      padding: 0;
      width: 100%;
      margin-top: 4rem;
      &__technos {
        margin: 2rem;
      }
      &__title {
        font-size: 2rem;
        text-align: left;
      }
    }
    &__trainingContainer {
      &__panel {
        margin: 1rem 0;
        width: 100%;
      }
      &__text {
        text-align: center;
        font-size: 1rem;
      }
    } 
    &__softSkillsContainer {
      &__title {
        font-size: 2rem;
      }
    }
  }
}

