/* Colors */

/* Theme light */
$lightHover: #ff6a00;
$lightText: #774929;
$lightBackground: #fcbc55;
$ligthTextBackground: #ffc972;

/* Theme dark */
$darkHover: #ffb400;
$darkText: #fef265;
$darkBackground: #282828;
$darkTextBackground: #30303096;
$darkGreen: #66ff66;

/* Transtions */
$fastTransition: .4s;
$slowTransition: .8s;
